<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.ch.springfw.bean.UserDao">
        <property name="name" value="hahahadao"/>
    </bean>

    <bean id="userService" class="com.ch.springfw.bean.UserService" init-method="sayHello" destroy-method="sayBye">
        <property name="name" value="hahaha"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="myBeanFactoryPostProcessor" class="com.ch.springfw.process.MyBeanFactoryPostProcessor"/>
    <bean id="myPostProcessor" class="com.ch.springfw.process.MyPostProcessor"/>

</beans>
